<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/tasks/edit/{{taskedit.idTarea}}" method="POST">
                        <div class="form-group">
                            <label>Nombre de la tarea</label>
                            <input type="text" value="{{taskedit.tarea}}" class="form-control" name="taskName"  autofocus disabled>
                        </div>
                        <div class="form-group">
                            <label>Fecha límite</label>
                            <input type="date" class="form-control" name="date" min={{actualDate}} >
                        </div>
                        <div class="form-group">
                            <label>Usuario a realizar la tarea</label>
                            
                            <select name="user" class="form-control">
                                {{#each users}}
                                    <option value= "{{idUsuario}}" >{{nombreUsuario}}</option>  
                                {{/each}}
                            </select>
                            
                                    
                        </div>
                        <div class="form-group">
                            <label>Descripcion</label>
                            <textarea name="description" rows="4" class="form-control" >{{taskedit.descripcion}}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Importancia</label>
                            <select name="importance" class="form-control">
                                <option value="Baja">Baja</option>
                                <option value="Normal" selected="selected">Normal</option>
                                <option value="Alta">Alta</option>
                                <option value="Urgente">Urgente</option>
                                <option value="Inmediata">Inmediata</option>
                            </select>
                            <label>Estatus</label>
                            <select name="status" class="form-control">
                                <option value="1" selected="selected">Por hacer</option>
                                <option value="2" >En progreso</option>
                                <option value="3">Terminada</option>
                                <option value="4">Expirada</option>
                            </select>
                            <div class=" p-2 d-grid gap-2">
                                <button class=" t-2  btn btn-outline-success ">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
