
<div class="container">
   <div class="row">
       <div class="col">
                 <div>
                     <h3>POR HACER</h3>
                    {{#each tasksStatus1}}
                    <a href="/tasks/task/{{idTarea}}" >
                    <div class="card text-white bg-dark m-2 row" style="max-width: 18rem;">
                        <div class="card-header">{{nombreUsuario}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{tarea}}</h5>
                            <p class="card-text text-uppercase">Importancia: {{importancia}}</p>
                            
                        </div>
                        
                    </div>
                    
                    </a> 
                    {{/each}}
  
                </div>
                <div>
            
            </div>
        </div>
         <div class="col">
                 <div>
                     <H3>EN PROCESO</H3>
                    {{#each tasksStatus2}}
                    <a href="/tasks/task/{{idTarea}}" >
                    <div class="card text-white bg-dark m-2 row" style="max-width: 18rem;">
                        <div class="card-header">{{nombreUsuario}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{tarea}}</h5>
                            <p class="card-text text-uppercase">Importancia: {{importancia}}</p>
                        </div>
                    </div>
                    </a> 
                    {{/each}}
  
                </div>
                <div>
            
            </div>
        </div>
         <div class="col">
                 <div>
                     <H3>TERMINADA</H3>
                    {{#each tasksStatus3}}
                    <a href="/tasks/task/{{idTarea}}" >
                    <div class="card text-white bg-dark m-2 row" style="max-width: 18rem;">
                        <div class="card-header">{{nombreUsuario}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{tarea}}</h5>
                            <p class="card-text text-uppercase">Importancia: {{importancia}}</p>
                        </div>
                    </div>
                    </a> 
                    {{/each}}
  
                </div>
                <div>
            
            </div>
        </div>
         <div class="col">
                 <div>
                     <H3>EXPIRADA</H3>
                    {{#each tasksStatus4}}
                    <a href="/tasks/task/{{idTarea}}" >
                    <div class="card text-white bg-dark m-2 row" style="max-width: 18rem;">
                        <div class="card-header">{{nombreUsuario}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{tarea}}</h5>
                            <p class="card-text text-uppercase">Importancia: {{importancia}}</p>
                        
                        </div>
                    </div>
                    </a> 
                    {{/each}}
  
                </div>
                <div>
            
            </div>
        </div>
    </div>
</div>


